<div id="footer-container" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <ul class="footer-ul">
                        <li><b>CS:GO Videos</b></li>
                        <li style="margin-top: -10px;">_________________________</li>
                        <li class="devider"><em>"- BAD QUALITY, KILLS <br> GOOD FRAGS"</em></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <ul class="footer-ul">
                        <li><b>Contact us</b></li>
                        <li style="margin-top: -10px;">__________________________</li>
                        <li class="devider"><i class="fa fa-phone col-md-1"></i><span class="col-md-10">Tlf:  +45 70 80 90 00</span></li>
                        <li><i class="fa fa-envelope-o col-md-1"></i><span class="col-md-10">Email: <a href="mailto:csgo-videos@csgovideos.dk?Subject=support">csgovideos<br> @csgovideos.dk</a></span></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <ul class="footer-ul">
                        <li><b>Follow us on social media</b></li>
                        <li style="margin-top: -10px;">_______________________</li>
                        <li class="devider" style="font-size: 24px;">
                            <a href="http://www.facebook.com/csgovideos" target="_blank"><i class="fa fa-facebook" style="width: 40px;"></i></a>
                            <a href="https://www.instagram.com/csgovides/"target="_blank"><i class="fa fa-instagram"style="width:40px;"></i></a>
                            <a href="https://www.youtube.com/csgovides/" target="_blank"><i class="fa fa-youtube"  style="width: 40px;"></i></a>
                            <a href="https://www.vimeo.com/search?q=csgo" target="_blank"><i class="fa fa-vimeo"   style="width: 40px;"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <ul id="footer-nav" class="footer-ul">
                        <li><b>Quick Links</b></li>
                        <li style="margin-top: -10px;">___________________</li>
                        <li><a href="./dashboard">Dashboard</a></li>
                        <li><a href="./contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>