<% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="jumbotron">
            <h2>Tilføj produkter til din kurv</h2>
            <button>Deagle</button>
            <button>AWP</button>
         
        </div>
    </main>
        <% include ../partials/footer %>
            <!-- Script til adminpanel -->
    <script src="../../public/js/panel.js"></script>
    <!-- <script src="../../routes/admin.js"></script> -->
</body>

</html>